
body {
  background-color: #231f20; 
  text-align:center; 
  max-width:1080px; 
  margin:auto;
  width: auto;
  font-family: Verdana;
  font-colour: #222021;
}


.header {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: #ffff;
  color: #222021;
  height: 150px;
  align-items: center;
}

.header2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 45px;
    margin-top: 35px;
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

.name {
  text-align: center;
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: #ffffff;
  font-size: 26px;
}

.info {
  text-align: center;
  font-family: Verdana;
  color: #ffffff;
  font-size: 14px;
}

.studentinfo {
  text-align: center;
  font-family: Verdana;
  color: #ffffff;
  font-size: 8px;
}

.intropara {
  text-align: center;
  font-family: Verdana;
  color: #ffffff;
  font-size: 10px;
}

.column {
  float: left;
  width: 45%;
  padding: 25px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color: #ff6600;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #b34700;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.name2 {
  text-align: left;
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: #ffffff;
  font-size: 26px;
}
